<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <form action="{% url 'index' %}" method="POST" role="form">{% csrf_token %}
        <div class="container">
            <div class="form-group">
                <div class="text-center"><h1>Youtube mp3</h1></div>
            </div>
            <div class="form-row">
                <div class="col-10">
                    {{form.url}}
                </div>
                <div class="col-2">
                    {{form.email}}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block mt-2">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>